/**************************************************/
/*************************************************/
/************************************************/
/***********************************************/
/********************global********************/
/*********************************************/
/********************************************/
/*******************************************/
/******************************************/
/*****************************************/
.inactive {
	display: none;
}

html, body {
	margin: 0;
	padding: 0;
}

.headshot {
	height: 100%;
	position: fixed;
}
.text {
	width: 70%;
	padding: 8%;
}

.image {
	width: 60%;
}

.toggleContainer {
	z-index: 1;
	width: 100%;
	height: 20px;
	background-color: black;
	text-align:center;
	position: fixed;
	padding: 1%;
	overflow: hidden;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}


#forClass {
	height: 100%;
	width: 100%;
}

.classToggle {
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	text-decoration: none;
	color: white;
	overflow-y: hidden;
	margin: 0 5%;
	padding: 1% 5%;
	transition-duration: .7s;
}

.classToggle:hover {
	background-color: white;
	color: black;
}

.smile {
	position: fixed;
	width: 20%;
	left: 80%;
	bottom: 0%;
	padding: 1% 2%;
	color: white;
	background-color: #ca7d66;
	border: 1px solid transparent;
	font-size: 150%;
	cursor: pointer;
	transition-duration: .7s;
	border-radius: 5px;
}
.smile:hover {
	opacity: .9;
}

.logoContainer img {
	width: 100%;
}

.logoContainer {
	font-weight: normal !important;
	padding: 1%;
	margin: 1%;
	width: 20%;
	border-radius: 5px;
}

.logoContainer a {
	display: block;
	text-decoration: none;
	color: #ebeded;
}
.dareContainer {
	border: 4px solid white;
	width: 20%;
	margin: 0;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.dareContainer img {
	display: inline-block;
}
.dare {
	width: 100%;
}


/**************************************************/
/*************************************************/
/************************************************/
/***********************************************/
/********************texts*********************/
/*********************************************/
/********************************************/
/*******************************************/
/******************************************/
/*****************************************/


.one h1 {
	color: pink;
	font-family: 'Oswald', sans-serif;
}
.one h2 {
	color: pink;
	font-family: 'Oswald', sans-serif;
}
.one h3 {
	color: pink;
	font-family: 'Oswald', sans-serif;
}


.two h1 {
	color: red;
	font-family: 'Amatic SC', cursive;
}
.two h2 {
	color: red;
	font-family: 'Amatic SC', cursive;
}
.two h3 {
	color: red;
	font-family: 'Amatic SC', cursive;
}


.three h1 {
	color: green;
	font-family: 'Playfair Display', serif;
}
.three h2 {
	color: green;
	font-family: 'Playfair Display', serif;
}
.three h3 {
	color: green;
	font-family: 'Playfair Display', serif;
}
.one button {
	font-family: 'Oswald', sans-serif;
}
.two button {
	font-family: 'Amatic SC', cursive;
}
.three button {
	font-family: 'Alice', serif;
}



.one p, a {
	color: #5c5c5c;
	font-family: 'PT Serif', serif;
	font-weight: bold;
}
.two p, a {
	font-family: 'Josefin Sans', sans-serif;
	color: #3d3d3d;
}
.three p, a {
	font-family: 'Alice', serif;
	color: #3d3d3d;
}


/**************************************************/
/*************************************************/
/************************************************/
/***********************************************/
/********************color*********************/
/*********************************************/
/********************************************/
/*******************************************/
/******************************************/
/*****************************************/


.one .classToggle {
	color: white;
}
.two .classToggle {
	color: black;
}
.three .classToggle {
	color: white;
}
.one {
	height: 100%;
	background-color: white;
}
.two {
	height: 100%;
	background-color: white;
}
.three {
	height: 100%;
	background-color: white;
}

.one .headshot {
	right: 0;
}
.one .text {
	float: left;
}
.two .headshot {
	left: 0;
}
.two .text {
	float: right;
	text-align:right;
}
.two .logoContainer {
	margin-left:70%;
}
.two .smile {
	left: 0;
}
.two .dareContainer {
	margin-left:70%;
}
.three .headshot {
	right: 0;
	top: 0;
}



.one .studyTact {
	background-color: #262d37;
}
.one .marketr {
	background-color: #ca7d66;
}
.one .influencr {
	background-color: #62cde0;
}
.one .producr {
	background-color: gray;
}




.two .studyTact {
	background-color: gray;

}
.two .marketr {
	background-color: #262d37;

}
.two .influencr {
	background-color: #C08C81;

}
.two .producr {
	background-color: #62cde0;

}

.three .studyTact {
	background-color: #C08C81;
}
.three .marketr {
	background-color: grey;

}
.three .influencr {
	background-color: #262d37;

}.three .producr {
	background-color: #62cde0;
}










